<div class="content-container" ng-controller="LineFacilityProductController">
    <ul class="breadcrumb">
        <li class="active">Line Facility Products</li>
    </ul>

    <div class="card well">
        <div class="row">
            <div class="col-m-9 col-sm-9">
                <input ng-autofocus="true" ng-model="filterText" type="text" ng-keyup="onFilter()" class="form-control" placeholder="{{'label.input.filterbynameshortname' | translate}}">
            </div>
            <div class="col-m-3 col-sm-3">
                <a href="#/createLineFacilityProduct" class="btn btn-primary pull-right"><i class="fa fa-plus "></i>&nbsp;&nbsp;Create Line Facility Product</a>
            </div>
        </div>
        <hr>
        <table class="table">
            <thead>
            <tr class="graybg">
                <th>{{'label.heading.name' | translate}}</th>
                <th>{{'label.heading.shortname' | translate}}</th>
                <th>{{'label.heading.expirydate' | translate}}</th>
                <th>{{'label.heading.status' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr class="pointer-main" dir-paginate="loanproduct in loanproducts | orderBy:'name':reverse  | filter:filterText |  itemsPerPage: LoanProductsPerPage">
                <td class="pointer" data-ng-click="routeTo(loanproduct.id)">{{loanproduct.name}}</td>
                <td class="pointer" data-ng-click="routeTo(loanproduct.id)">{{loanproduct.shortName}}</td>
                <td class="pointer" data-ng-click="routeTo(loanproduct.id)">{{loanproduct.productCloseDate | DateFormat}}</td>

                <td class="pointer" data-ng-click="routeTo(loanproduct.id)"
                    ng-if="loanproduct.productActiveStatus == 'Y'" class="center"><i class="fa fa-stop statusactive"
                                  uib-tooltip="Yes" tooltip-placement="right"></i>
                </td>
                <td class="pointer" data-ng-click="routeTo(loanproduct.id)"
                    ng-if="loanproduct.productActiveStatus != 'Y'" class="center"><i class="fa fa-stop statuspending"
                     uib-tooltip="No" tooltip-placement="right"></i></td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls boundary-links="true" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>